{% extends "::PlatypusLayout.html.twig" %}

{% block title %}CAPlatypusBundle:CheckerController:showParams{% endblock %}

{% block body %}


<h1>The user {{email}} wants to connect using {{password}}.</h1>

{% endblock %}
